
:root{
    
    /* paleta de colores */

  --texto: #401818;
  --bgGeneral:#F2F2EB;  
  --bgCard: #A8644B;
  --navbarC:  #72383D;
 

}



body{
  font-family:"Literata";
  font-size: 14px;
  margin: 0; 
  background-color:var(--bgGeneral); 
  
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: var(--navbarC);
    color:var(--texto);
    box-shadow: 2px 2px 5px hsla(0, 0%,0%, 0.8);
    position: sticky;
    top: 0;
    z-index: 100;
}

.tituloppal{
    color: var(--bgGeneral);
    text-shadow: var(--texto) 1px 0 10px;
}
.tituloppal a{
    text-decoration: none;
    color: var(--bgGeneral);
}

nav ul {
    list-style: none;
    display: flex; /* Flexbox para alinear horizontalmente los <li> */
    gap: 15px;    /* Espacio entre los <li> */
    padding: 0;
    margin: 0;
}

nav p{

    color:var(--bgGeneral);
    text-decoration: none;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
        
}

.dropdown a{
    display: block;
    text-decoration: none;
    padding: 10px 15px;



}

.dropdown .contenido{
    display: none;
    background-color:var(--navbarC);
    position: absolute;
    min-width: 100px;
    box-shadow: 2px 2px 5px hsla(0, 0%,0%, 0.8);



}

.dropdown:hover .contenido{
    display: block;

    

}

nav p:hover{
    background-color: var(--texto);
    border-radius: 4px;

}


nav ul li {
    display: flex; /* Alineación en el centro de cada <li> */
    align-items: center;
    color:var(--texto);
}

nav ul li a {
    color: var(--bgGeneral);
    text-decoration: none;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 15px;
}


nav ul li a:hover {
    background-color:var(--texto);
    border-radius: 4px;
}

.titDisplay{
    margin: 0;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    color:var(--texto);
    background-color:var(--bgGeneral);

}



.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    background-color:var(--bgGeneral);
    



}


.contNos{
        margin:40px;
        width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 300px, 300px;
        gap: 50px;
        margin-bottom: 100px;
        align-self: center;
        justify-self: center;
        padding: 15px;
        
      }

 
            
 .contNos .txt {
    
    
     padding: 30px;
     align-self: center;
     justify-self: center;
      
      }
    

.mapContainer{
    display: flex;
    align-self: center;
    justify-self: center;
    margin: 0;  
   

}

.contReviews{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;
    padding: 15px;
    width: 55%;
    margin-left: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    padding-bottom: 55px;
    
}

.contReviews h3 {
  padding-left: 10px;
}

.cont{
  display: flex;
  justify-content: center;

}
.prodRev{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 50px;   
  width: 100%;
}

.contReviews h3{
  text-align: center;
  
}



.nombre{
 font-weight: 700;
 margin-bottom: 5px;
}



.review{
  padding-top: 55px;
  gap: 10px;  
  width: 50%;
  display: grid;
  grid-template-areas:  
  'headRev rating' 
  'headRev rating'
  'revTexto revTexto';
  
}

.headRev{
 grid-area: headRev; 
 
 
}

.revTexto{
 grid-area: revTexto;
 padding-right: 5px;
  
}

.rating {
  grid-area: rating;
  color: #FFD700; /* Color dorado para las estrellas */
  font-size: 1.5rem; /* Tamaño de las estrellas */
  display: flex;
  align-items: flex-start;
  gap: 0.2rem;
  width: 50%;
}


.productoCard{
    background-color:white;
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px hsla(0, 0%,0%, 0.8);
  
}

.productoCard img{
 height: 200px;
 width: 180px;
 padding-left: 30%;
}

.productoCard .rev{
    background-color:var(--navbarC);
    width: 50px;
    height: 25px;
    margin-right: 15px;
    margin-top: 16px;
    border-radius: 5px;
    text-align: center;
    text-justify: auto;
    color: var(--bgGeneral);
    cursor: pointer;
    
    
}
.rev a{
  color: var(--bgGeneral);
  text-decoration: none;
}

.productoCard .rev:hover{
    box-shadow: 2px 2px 5px hsla(0, 0%,0%, 0.8);
    

}
.txt {
    padding-right: 1em;
    padding-left: 2em;
}


.productoCard .precio{
  color: black;
  font-size: 14px;
  font-weight: bolder;
 

} 

.productoCard .categoria{
  font-style: italic;
  font-weight: bolder;
  color: var(--navbarC);
  font-size: small;
  text-align: right;
  margin-bottom: 1px;
}

.productoCard .descripcion{
   color: var(--texto); 
   flex-grow: 1; /* El texto de descripción toma el espacio sobrante */
   margin-bottom: 16px;
   overflow: hidden;
}

.productoCard button{
  background-color: var(--bgGeneral);
  border-color:var(--bgGeneral);
  border-radius: 5px;
  color: var(--texto);
  font-family: inherit;
  padding: 8px;
  cursor: pointer;
  box-shadow: 2px 2px 5px hsla(0, 0%,0%, 0.8);  
}

.productoCard button:hover{
    font-weight: bold;
}


.linea {
    display: flex;
    justify-content: space-between;
}



.subBtn{
    background-color: var(--bgGeneral);
    border-color:var(--bgGeneral);
    color: var(--texto);
    font-family: inherit;
    padding: 8px;
    cursor: pointer;
    box-shadow: 2px 2px 5px hsla(0, 0%,0%, 0.8);  
   


}

.subBtn:hover{
    font-weight: bold;
    
}

form input{
    margin-bottom: 5px;
}

form textarea{
    width: 80%;
}

.box{
    width: 400px;
    height: 276px;
    background-image: url("/img/shop400x276.jpg");
    background-size: cover;
    margin: 0;
    border: 1px solid var(--navbarC);
    box-shadow: 2px 2px 5px hsla(0, 0%,0%, 0.8);
    align-self: center;
    justify-self: center;

}

.txtimg{
    position: relative;
    top: 2px;
    left:10px;
    font-family: inherit;
    font-weight: bold;
    color: var(--texto);
    padding-bottom: 0;
    text-shadow: 2px 2px 5px hsla(0, 0%,0%, 0.4); ;

}


#sm-footer {
    
    bottom: 0; 
    background-color: var(--navbarC);
    width: 100vw; 
    height: 2.1em; 
    display: flex;
    justify-content: space-evenly;
    font-size: 1.3rem; 
    
  }
  
  #sm-footer a {
    color: var(--bgGeneral); 
    text-decoration: none;
    padding: 10px; 
  }
  

  





  

/* pantallas más pequeñas */

@media screen and (max-width: 768px) {

.productoCard{
  width: 100%;  
}

.box{
  margin: 0;  
  
}

.contNos{
  margin:10px;
  width: 80%;  
  grid-template-columns: repeat(1,1fr);
  padding: 0;
}

.mapContainer{
     
    display: flex;
    margin-left: 25px;
   
}


nav ul {
    display:flex;
    flex-direction: column;
    padding: auto;
}
nav p{
  margin: 0;  
}
.titDisplay{
   margin-left: 0; 
   text-align:center

}

.contReviews{
  flex-direction: column;
  width: 75%;
}

.review{
  width: 100%;
}


}

@media (min-width: 768px) and (max-width: 1200px){


    .productoCard{
        width: 55%;
        margin-left: 25%;  
      }

      .titDisplay{
        margin-left: 0; 
        text-align:center
     
     }  
     .mapContainer{
  
        display: flex;
        margin-left: 300px;
       
    }
    
     

      
      .contNos{
        margin:10px;
        width: 80%;
        grid-template-columns: 100%;
        justify-content: center;
        margin: 0;
        padding: 0;
      }
      




}